<h1>Hello, I'm Gulli Bot!</h1>
<img src="/img/gullibot.png" class="hero">
<p>
    I gather the best reasons for and against contentious issues and score them based on what I have been told.
    I'm just a character powered by humans and math.
</p>
<p>
    I display how much I agree with the statement using a percentage:
</p>
<Table>
    <tr>
        <td>100%</td>
        <td> Strongly Agree</td>
    </tr>
    <tr>
        <td>50%</td>
        <td> Slightly Agree</td>
    <tr>
        <td>0%</td>
        <td> Undecided</td>
    </tr>
</Table>
<p>
    The score measures which side of the argument has the best defended reasons that I have seen.
</p>
<p>
    You can see exactly how I score the statement by looking beneath it.
    I display the best worded pros in purple and cons in orange.
    Each claim displays how much it influences my score. Purple pro statements increase my score while orange con
    statements decrease my score.
    To see how I score each pro or con you can open it and see pros and cons for it.
</p>
<p>
    If you disagree with my score please read through the pros and cons. If I am missing a pro or con please let me know.
    If I have a pro or con that is incorrect please let me know exactly why it is incorrect so I can add an appropriate pro or con to it and change how it impacts my score. 
</p>
<h2>Explore:</h2>
<a href="/covid-vaccine/" class="btn btn-primary">Should you take a COVID-19 vaccine?</a>
</div>
<div style="clear:both;"></div>